<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="houji.mapper.Task">
    <resultMap id="TaskResult" type="houji.bean.Task">
        <id column = "task_id" property="taskId"></id>
        <result column = "title" property="title" />
        <result column = "create_time" property="createTime" />
        <result column = "leader" property="leader" />
        <result column = "customer" property="customer" />
        <result column = "detail" property="detail" />
        <result column = "status" property="status" />
        <result column = "coding_leader" property="codingLeader" />
        <result column = "coding_price" property="codingPrice" />
        <result column = "data_entry_leader" property="dataEntryLeader" />
        <result column = "data_entry_price" property="dataEntryPrice" />
        <result column = "data_check_price" property="dataCheckPrice" />
        <result column = "epi_data_price" property="EPIDataPrice" />
        <result column = "output_price" property="outputPrice" />
        <result column = "bvc_price" property="BVCPrice" />
        <result column = "price" property="price" />
        <result column = "bonus" property="bonus" />
    </resultMap>
    <select id="selectTasksByLeader" parameterType="String" resultMap="TaskResult">
        <!--CDATA指原文代入-->
        <![CDATA[
            select * from task where leader = #{leader} order by create_time desc
        ]]>
    </select>
</mapper>