<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="houji.mapper.UserInfo">
    <select id="selectUserByName" parameterType="String" resultType="houji.bean.UserInfo">
        <!--CDATA指原文代入-->
        <![CDATA[
            select * from users_info where name = #{name}
        ]]>
    </select>
</mapper>